<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<h1>Algo deu errado 😢</h1>

<p><strong>Status:</strong> <span th:text="${status}">status</span></p>
<p><strong>Erro:</strong> <span th:text="${error}">error</span></p>
<p><strong>Mensagem:</strong> <span th:text="${message}">message</span></p>
<p><strong>Path:</strong> <span th:text="${path}">path</span></p>
<p><strong>Timestamp:</strong> <span th:text="${timestamp}">timestamp</span></p>
</body>
</html>