<div th:fragment="formulario_cadastro(usuario)" class="d-flex flex-row align-items-center justify-content-center text-center">
    <section style="width: 40%; min-height: 100vh;" class="text-light d-flex flex-column align-items-center justify-content-center px-5">
        <h1>Bem-vindo!</h1>
        <p>Caso já tenha uma conta, faça o login:</p>
        <a th:href="@{/home/login}" class="btn btn-outline-light px-4">
            Entrar
        </a>
    </section>

    <form th:action="@{/home/salvar}" th:object="${usuario}" style="width: 60%; min-height: 100vh;" class="text-light d-flex flex-column align-items-center justify-content-center px-5" method="post">

        <h1>Criar conta</h1>
        <div class="">
            <a href='#' class="link-light"><i class="bi bi-facebook fs-1"></i></a>
            <a href='#' class="link-light"><i class="bi bi-google fs-1 mx-4"></i></a>
            <a href='#' class="link-light"><i class="bi bi-envelope-at fs-1"></i></a>
        </div>
        <p>Informe seus dados para criar uma conta</p>

        <div class="text-start w-50 d-flex flex-column align-items-center">

            <div class="input-group mb-3">
                <span class="input-group-text px-3"><i class="bi bi-people fs-3 text-light"></i></span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="nome" placeholder="Nome de usuário" th:field="*{nome}"/>
                    <label for="nome" class="form-label px-3">Nome de usuário</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text px-3"><i class="bi bi-envelope-at fs-3 text-light"></i></span>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="E-mail" th:field="*{email}"/>
                    <label for="email" class="form-label px-3">E-mail</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text px-3"><i class="bi bi-key fs-3 text-light"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="senha" placeholder="Senha" th:field="*{senha}"/>
                    <label for="senha" class="form-label px-3">Senha</label>
                </div>
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text px-3"><i class="bi bi-key-fill fs-3 text-light"></i></span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="senha_confirm" placeholder="Confirmar senha"/>
                    <label for="senha_confirm" class="form-label px-3">Confirmar senha</label>
                </div>
            </div>

            <button type="submit" class="btn btn-light px-5 rounded">Cadastrar</button>
        </div>

    </form>
</div>